<h1 style="color: blue; font-family: Arial; text-align:center" >제보하기</h1>

<div class="container">
  <form action="/home/write/" method="post">
  내용을 여기에 적어주세요 : 
  <textarea class="form-control" rows="4" cols="50" type="text" name="fname">
  </textarea>
  <input type="submit" value="Submit">
  </form>
</div>