<!DOCTYPE html>
<html>
<head>
    <title> <%=@username%>의 prifile </title>
    
     <style>
        .container{
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <br>
        <div class="row">
            <div class="col"> (멋사피디아 로고같은거) </div>
            <div class="col" ><h3 style="float:right"> (username) 의 프로필</h3></div>
        </div>
        <br><hr><br>
    </div>
    
</head>
<body>
    <div class="container">

        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-2" id="category0"><h5>인성</h5></div>
            <div class="col-2"><h7>(별점)★★★☆☆</h7></div>
            <div class="col-2"><h7><a href="/rate_personality">별점 주기</a></h7></div>
            <div class="col-5"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-2" id="category0"><h5>애인 유무</h5></div>
            <div class="col-3"><h7>있 / 없</h7></div>
            <div class="col-7"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-2" id="category0"><h5>학교 생활</h5></div>
            <div class="col-10"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10"><center>(게시글 표 만들어서)</center></div> <!--each do로-->
            
        </div>
        
    </div>
    
    
</body>
</html>