<!DOCTYPE html>
<html>
<head>
    <title> <%=@username%>의 prifile </title>
    
     <style>
        .container{
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <br>
        <div class="row">
            <div class="col"> (멋사피디아 로고같은거) </div>
            <div class="col" ><h3 style="float:right"> (username) 의 프로필</h3></div>
        </div>
        <br><hr><br>
    </div>
    
</head>
<body>
    
    
</body>